body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right,#2fd69a, #24ac7e);
    z-index: 1;
}
header div{
    height: 80%;
    margin-right: 30px;
    display: flex;
    align-items: center;
    color: white
}
header a{
    height: 100%
}
header img{
    height: 100%;
    margin-left: 20px
}
header h1{
    margin: 0;
    margin-left: 30px;
    color: white
}

main{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* align-items: center;
    justify-content: space-around; */
    margin-top: 80px;
    height: calc(100% - 80px);
}

#mnt_cntr{
    width:1000px;
    height: 620px;
    background-color: #2ED096;
    border-radius: 30px;
}

#mtnr_principal{
    margin-top: 60px;
    margin-left: 100px;
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 30px;
}

#chang_cntr{
    display: flex;
    width: 100%;
    height: 100px;
    border: 1px solid;
}
#add_class{
    border: 1px solid;
    height: 100%;
    width: 50%;
}
#supp_class{
    border: 1px solid;
    height: 100%;
    width: 50%;
}
body{
	margin:0;
	color:black;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
    margin-top:60px;
    margin-left: 250px;
	max-width:525px;
	min-height:500px;
	position:relative;
	background:url(../assets/undraw_confirm_89ui.png) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(255, 255, 255, 0.74);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
	margin-top: 50px;

}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;

}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
	margin-top: 20px;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#1161ee;
	border-color:#2ED096;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color: black;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:white;
}

.login-form .group .label{
	color:black;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}
